
.main.active {
    filter: blur(3px);
}

.previous-work-section {
    display: flex;
    justify-content: center;
}

.previous-w-container {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.previous-w-heading {
    font-family: var(--heading-font);
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.projects-container {
    width: 100%;
    margin: 4rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

   /* background-color: firebrick;  */
}

.prev-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    margin: 4rem 2rem 0;
    position: relative;
    animation: project-in 1.2s ease both;
    transition: all .6s ease;
    box-shadow: 1px 1px 8px rgb(189, 189, 189);

}
.prev-project:nth-child(2) {
    animation-delay: .4s;
}
.prev-project:nth-child(3) {
    animation-delay: .6s;
}
.prev-project:nth-child(4) {
    animation-delay: .8s;
}

@keyframes project-in {
    from {
        opacity: 0%;
       /* transform: translateX(-350%); */
    }
    to {
        opacity: 1;
       /* transform: translateX(0); */
    }
}

.prev-project:hover {
   /* background-color: #e8cdb1;    */
    background-color: #f8e4cc;
    transition: all .6s ease;
}

.prev-project::before, .prev-project::after {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 1px solid var(--main-text-color);
    transition: all .6s ease;
    border-radius: 2px;
    pointer-events: none;
}

.prev-project::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black;
    border-right-color: black;
}
.prev-project::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: black;
    border-left-color: black;
}

.prev-project:hover::after, .prev-project:hover::before {
    width: 101%;
    height: 101%;
}
.prev-project:hover .prev-image-container {
   /* height: 13rem;
    width: 13rem;   */
    transform: scale(1.1);
    transition: all .6s ease;
    filter: brightness(95%);   
}

.prev-image-container {
    height: 12rem;
    width: 12rem;
    margin: 2rem 0rem;
    transition: all .6s ease;
    filter: brightness(70%);  
  /*  filter: contrast(70%);        */
}

.prev-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 20%;
    border-radius: 50%;
}
.prev-project:nth-child(2) img {
    object-position: 5%;
}
.prev-project:nth-child(4) img {
    object-position: 50%;
}


.project-title {
    margin-bottom: 2rem;
    font-family: var(--heading-font);
    font-size: 1.1rem;
    text-align: center;
}
.project-title a {
    color: var(--main-text-color);
    text-decoration: none;
    margin-top: 1rem;
    font-family: var(--heading-font);
    font-size: 1rem;
    font-variant: small-caps;
    cursor: pointer;
    position: relative;
}
.project-title a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--main-text-color);
    left: 50%;
    bottom: -5px;
    transition: all .2s ease-in-out;
}

.project-title a:hover::after {
    width: 100%;
    left: 2%;
}

.project-desc {
    padding: 0rem 2rem 2rem;
    color: var(--main-text-color);
    font-family: var(--main-text-font);
    font-size: .9rem;
}


@media only screen and (max-width: 999px) {
    .prev-image-container {
        filter: brightness(95%);
    }
}
